/**/*.key
/**/*.crt
/**/*.pem
/**/*.pem-chain
/**/*.ca.pem
/**/.DS_Store
**/.env.docker

mobile/app.json
mobile/eas.json
mobile/package-lock.json
mobile/package.json
mobile/.*

docker-compose.yml

.idea

bookcars.gz