.car-filter {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.car-filter form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.car-filter .pickup-location,
.car-filter .pick-up-date,
.car-filter .drop-off-location,
.car-filter .drop-off-date,
.car-filter .same-location-checkbox {
  margin-bottom: 15px;
  width: 100%;
}

/* Material-UI class names are exempt from kebab-case rule */
/* stylelint-disable selector-class-pattern */
.car-filter .pickup-location .MuiFormControl-root,
.car-filter .pick-up-date .MuiFormControl-root,
.car-filter .drop-off-location .MuiFormControl-root,
.car-filter .drop-off-date .MuiFormControl-root {
  width: 100%;
}

.car-filter .checkboxLabel {
  margin-left: 0;
}
/* stylelint-enable selector-class-pattern */

.car-filter .same-location-checkbox {
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.car-filter .search-button {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  background-color: #222 !important;
  font-weight: bold;
  color: white !important;
  border-radius: 0 !important;
  margin-top: 5px;
}

/* Accordion styles */
.car-filter.accordion-container {
  margin-bottom: 15px;
}

.car-filter .accordion {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

@media only screen and (width <= 960px) {
  .car-filter form {
    width: 100%;
  }
}
